<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/frontend/styles/style.css">
    <link rel="stylesheet" href="/frontend/styles/album.css">
    <title>BooksApp</title>
</head>
<body onload="darkMode()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="">
              <img src="/frontend/resources/logo.svg" alt="App logo" width="50" height="50">
              BooksApp
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./browse">Browse books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./add">Add books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./search">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="">Form</a>
              </li>
            </ul>
          </div>
          <button class="btn btn-light" onclick="toggleLocalStorage(); darkMode();"><i class="bi bi-lightbulb-fill"></i></button>
        </div>
    </nav>

    <!-- <form class="w-50 position-absolute top-50 start-50 translate-middle" action="">
        <div class="row">
            <div class="col">
                <label for="inputTitle" class="form-label">Book title:</label>
                <input type="email" class="form-control" id="inputTitle">
            </div>
            <div class="col">
                <label for="inputAuthor" class="form-label">Book author:</label>
                <input type="email" class="form-control" id="inputAuthor">
            </div>
        </div>
        <div class="row">
            <div class="col">
                Select book genres:
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="crime" id="genreCrime">
                    <label class="form-check-label" for="genreCrime">
                      Crime
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="fantasy" id="genreFantasy">
                    <label class="form-check-label" for="genreFantasy">
                      Fantasy
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="romance" id="genreRomance">
                    <label class="form-check-label" for="genreRomance">
                      Romance
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="scifi" id="genreScifi">
                    <label class="form-check-label" for="genreScifi">
                      Science Fiction
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="horror" id="genreHorror">
                    <label class="form-check-label" for="genreHorror">
                      Horror
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="other" id="genreOther">
                    <label class="form-check-label" for="genreOther">
                      Other
                    </label>
                </div>
            </div>
            <div class="col">
                <label for="selectRating">Book rating:</label>
                <select class="form-select" id="selectRating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Did you like the book?<br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="bookRadio" id="radioYes" value="yes">
                    <label class="form-check-label" for="radioYes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="bookRadio" id="radioNo" value="mo">
                    <label class="form-check-label" for="radioNo">No</label>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Add review</button>
            </div>
        </div>
    </form> -->

    <form class="w-50 position-absolute top-50 start-50 translate-middle" action="">
        <label for="inputTitle" class="form-label">Book title:</label>
        <input type="email" class="form-control" id="inputTitle">
        <label for="inputAuthor" class="form-label">Book author:</label>
        <input type="email" class="form-control" id="inputAuthor">
        Select book genres:
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="crime" id="genreCrime">
            <label class="form-check-label" for="genreCrime">
              Crime
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="fantasy" id="genreFantasy">
            <label class="form-check-label" for="genreFantasy">
              Fantasy
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="romance" id="genreRomance">
            <label class="form-check-label" for="genreRomance">
              Romance
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="scifi" id="genreScifi">
            <label class="form-check-label" for="genreScifi">
              Science Fiction
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="horror" id="genreHorror">
            <label class="form-check-label" for="genreHorror">
              Horror
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="other" id="genreOther">
            <label class="form-check-label" for="genreOther">
              Other
            </label>
        </div>
        <label for="selectRating">Book rating:</label>
        <select class="form-select" id="selectRating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        Did you like the book?<br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="bookRadio" id="radioYes" value="yes">
            <label class="form-check-label" for="radioYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="bookRadio" id="radioNo" value="mo">
            <label class="form-check-label" for="radioNo">No</label>
        </div>
        <button type="submit" class="btn btn-primary">Add review</button>
    </form>

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/28100bcb2a.js" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Own scripts -->
    <script src="/frontend/js/index.js"></script>
    <script src="/frontend/js/get-rating.js"></script>
    <script src="/frontend/js/dark-mode.js"></script>
</body>
</html>